
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;   
}
/* content */
.title h2{
    margin-top:90px;
    height: 70px; 
       
}
.content{
    margin-bottom: 80px;
}
.column1, .column2, .column3{
    background-color: #ebaa82;
    border: 1px solid rgb(112, 97, 82);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin-top: 80px;
}
.cv1,.cv2,.cv3{
    display: flex;
    margin-top:40px;
    font-size: 17px;  
    box-shadow: 0 0 15px rgba(0,0,0,0.3);  
    
}
.content .img img{
    height: 240px ;
    width: 230px;
}
.content img{
    margin-right: 20px;  
    border-radius: 9px;
    
}
.content button{
    margin-top: 15px;
    margin-bottom:15px;
    background-color:rgb(241, 250, 248);
    color: #000
}
.content button:hover{
    background-color: #dc965a
}

/* footer */
.footer{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.school{
   padding: 30px;
   font-size: 17px;
}
.school a{
    font-size:20px;
    text-decoration: none;
    color: #fff;
   
}
.school a:hover{
    color: rgb(204, 90, 48);
}
.address-links{
    display: flex;
    margin-right: 170px;
}
.address1 span, .address2 span{
    color: #fff;
}

.address-links a{
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.address-links a:hover{
    color: rgb(230, 147, 117);
}
.img-logo img{
    width: 20em;
    height: 11em;
    margin-left: 80px;
}
#footer{
    margin-top: 60px;
    padding-bottom:20px;
    background-color:rgb(35, 35, 35)
}
h3{
    padding-top: 10px;
    font-size: 25px;
}