* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
 html {
    font-size: 62.5%;
    line-height: 1.7;
    color: #5e6472;
}

.navbar {
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    transition: all .3s ease;
    text-align: center;
    padding: 0 !important;
    flex-wrap: wrap;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.navbar-brand{
    width: 100px;
    height: 70px;
    color: #000;
    font-size: 2rem !important;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;   
}

.navbar-nav li {
    border-right: 1px solid rgba(15,10,10,.1);
    border-left: 1px solid rgba(15,10,10,.1);
    padding: 0 30px;
}

.navbar-nav a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 70px;
}

.navbar-nav a:hover {
    color: #dc965a;
}

.nav-link{
    width: 200px;
    height: 70px
}

/* home */
.header {
    background-image: url(/áº£nh/hinhnen-xuan.jpg);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 700px;
}
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
}

.container p {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #fff;
}

.container h1 {
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}

.container h2 {
    font-size: 3.8rem;
    color: #fff;
}

.scroll {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 5;
}

.scroll a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2rem;
    transition: .3s;
}

.scroll a:hover {
    color: #dc965a;
    letter-spacing: .3rem;
}

.icon {
    position: absolute;
    right: 40px;
    bottom: 30px;
    z-index: 5;
}

.icon a {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 35px;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    text-decoration: none;
}

.icon a:hover {
    background: #dc965a;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}


/* about */
.about {
    padding: 100px 0;
    width: 100%;
    position: relative;
}

.about::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 40%;
    background: #dc965a;
    z-index: -1;
}

.img-box {
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background: #fff5ec;
    padding: 10px;
}

.img-box img {
    max-width: 100%;
}

.about-me {
    padding-left: 40px;
    padding-top: 300px;
}

.about-me h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #1c1d24;
    margin-bottom: 15px;
}

.about-me h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1c1d24;
    margin-bottom: 20px;
}

.about-me h5 span {
    color: #dc965a;
}

.about-me p {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.about-list {
    padding: 10px 0 15px;
}

.about-me .media {
    padding: 10px 0;
    line-height: normal;
}

.media {
    display: flex !important;
    align-items: flex-start;
}

.btn-bar {
    position: relative;
}

label {
    display: inline-block;
}

.about-me .media label {
    margin: 0;
    color: #090a0c;
    font-weight: 700;
    font-size: 1.5rem;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
}

.about-me .media p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 1.5rem;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-right: auto;
    margin-left: auto;
}
/* .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
} */


.align-center {
    align-items: center;
}


.about.col-md-6{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}



.btn {
    padding: 0 25px !important;
    line-height: 46px !important;
    background: none;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    transition: all .35s ease;
    cursor: pointer;
}

.btn.btn-theme {
    background: #dc965a;
    color: #fff;
}

.btn.btn-theme:hover {
    background: #90919c;
}

/* services */
.services {
    padding: 100px 0;
    position: relative;
    background: #fff5ec;
}

.services-title {
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    justify-content: center;
    
}

.services-title h3 {
    font-size: 4.5rem;
    color: #1c1d24;
    position: relative;
    margin: 0 0 15px;
}

.services-title h3::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.services-title p {
    font-size: 1.7rem;
}

.feature-box {
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 15% 12%;
    position: relative;
    z-index: 1;
    margin: 12px 0;
}

.feature-box:hover {
    background: #dc965a;
}

.feature-box:hover i, .feature-box:hover h5, .feature-box:hover p {
    color: #fff;
}

.feature-box i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 5rem;
    margin-bottom: 20px;
    color: #dc965a;
    transition: .5s ease-in-out;
}

.feature-box h5 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.feature-box p {
    transition: .5s ease-in-out;
    font-size: 1.6rem;
}

.services.col-md-12 {
    padding-left: 100px !important ;
    padding-right: 100px !important;
    width: 33.33333333% !important;
}

.services-skill {
    padding: 100px 0;
    position: relative;
}

.font-alt {
    color: #1c1d24;
    font-size: 24px;
    position: relative;
    padding: 0 0 15px;
    margin: 0;
    font-weight: 700;
}

.font-alt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: #dc965a;
}

.aducation-box {
    margin: 0;
    list-style: none;
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.aducation-box span {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 1.2rem;
    line-height: 1;
}

.aducation-box h6 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
}

.aducation-box p {
    color: hsla(0,0%,100%,.8);
    font-size: 1.6rem;
}

.aducation-box li+li {
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px dashed hsla(0,0%,100%,.2);
}

.skill-box {
    min-height: calc(100% - 86px);
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.skill-lt h6 {
    font-size: 1.6rem;
    margin: 0 0 8px;
    color: #1c1d24;
    line-height: 28px;
    font-weight: 600;
}

.skill-lt .skill-bar {
    position: relative;
    background: #1c1d24;
}

.skill-lt .skill-bar .skill-bar-in {
    width: 80px;
    height: 10px;
    position: relative;
    transition: all .55s ease;
}

.skill-lt .skill-bar .skill-bar-in span {
    position: absolute;
    right: 0;
    bottom: 15px;
    background: #1c1d24;
    padding: 2px 6px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.skill-lt .skill-bar .skill-bar-in span:after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    border-left: 7px solid transparent;
    border-top: 8px solid #1c1d24;
}

.skill-lt:not(:first-child) {
    margin-top: 30px;
}

.sm-title {
    margin-bottom: 30px;
}
/* background */
.theme-bg {
    background: #dc965a;
}

.dark-bg {
    background: #1c1d24;
}

.gray-bg {
    background: #fff5ec;
}

/* prortfolio */
.portfolio {
    padding: 100px 0;
    position: relative;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h3 {
    font-size: 4.5rem;
    color: #1c1d24;
    font-weight: 700;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.section-title h3:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title p {
    font-size: 1.7rem;
}

.portfolio-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px;
}

.portfolio-menu ul {
    display: inline-flex;
    list-style: none;
}

.portfolio-menu ul li {
    font-size: 1.6rem;
    margin: 0 15px;
    padding: 5px 0;
    color: #1c1d24;
    cursor: pointer;
    position: relative;
}

.portfolio-menu-hover::after {
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background: #dc965a;
    position: absolute;
    transition: all .55s ease;
}

.portfolio-img {
    position: relative;
    background: #fff;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    margin: 15px 0;
}

.portfolio-info {
    padding-bottom: 20px;
}

.portfolio-info h5 {
    color: #1c1d24;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
    cursor: pointer!important;
}

.portfolio-info h5:hover {
    color: #dc965a;
    letter-spacing: .2rem;
}

.portfolio-info span {
    font-size: 1.6rem;
}

.gallery-link {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: zoom-in!important;
    color: #dc965a;
    transition: .3s;
    text-decoration: none;
}

.gallery-link img {
    max-width: 100%;
    display: block;
    transition: .6s;
}

.portfolio-icon {
    position: absolute;
    bottom: 24px;
    right: 24px;
    transition: all .55s ease;
    /* opacity: 0; */
    width: 50px;
    height: 50px;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    line-height: 55px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #dc965a;
    text-decoration: none;
    font-size: 2.6rem;
}

.portfolio-icon:hover {
    background: rgba(255, 255, 255, 1);
}

/* testimonial */
.testimonial {
    padding: 100px 0;
    position: relative;
}

.testmonial-box {
    display: flex;
    align-items: flex-start;
    margin: 20px 0 30px;
    width: 100%;
}

.avatar {
    width: 30%;
    padding: 0 15px 15px;
    position: relative;
}

.avatar img {
    max-width: 100%;
}

.avatar:after {
    content: "";
    position: absolute;
    bottom: 5px;
    top: 15px;
    left: 5px;
    right: 30px;
    z-index: -1;
    border: 2px solid #dc965a;
}

.testmonial-text {
    padding-left: 20px;
    flex: 1 1;
}

.testmonial-text p {
    font-size: 1.6rem;
}

.testmonial-info {
    font-size: 1.2rem;
    padding-top: 10px;
}

.testmonial-info h6 {
    font-size: 1.5rem;
    color: #1c1d24;
    margin: 0 0 10px;
}

.rating-value {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border-radius: 30px;
    padding: 0 10px;
    box-shadow: 1px 1px 1px 1px rgb(28 29 36 / 10%);
    font-size: 0.9rem;
}

.rating-value i {
    color: #ffc800;
    margin-right: 3px;
}

.testimonial-button {
    display: flex;
    justify-content: center;
}

.testimonial-button-1 {
    background: #dc965a;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border: 1px solid #dc965a;
    cursor: pointer;
}

.testimonial-button-2 {
    background: transparent;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border: 1px solid #dc965a;
    cursor: pointer;
}

/* blog */
.blog {
    padding: 100px 0;
    position: relative;
}

.blog-post .blog-img {
    position: relative;
    overflow: hidden;
}

.blog-post .data {
    position: absolute;
    top: 20px;
    left: 10px;
    background: #fff;
    padding: 8px 10px;
    line-height: 1;
    text-align: center;
    z-index: 1;
}

.blog-post .data span {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    margin: 0;
    color: #1c1d24;
}

.blog-post .data small {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #5e6472;
    margin-top: 7px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.blog-post .blog-img img {
    transition: all .35s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
    width: 100%;
}

.blog-post .blog-info {
    padding: 20px;
    margin: -30px 10px 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;
    background: #fff;
}

.blog-post .blog-info h6 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.3;
    color: #1c1d24;
    cursor: pointer;
    transition: .3s;
}


.blog-post .blog-info h6:hover {
    color: #dc965a;
}

.blog-post .blog-info p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 12px;
    font-size: 1.6rem;
}

.blog-post .blog-info .btn-btn {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    transition: .3s;
    cursor: pointer;
}

.blog-post .blog-info .btn-btn:hover {
    color: #dc965a;
    text-decoration: underline;
}

/* contact */
.contact {
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

.contact::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 40%;
    background: #dc965a;
    z-index: -1;
}

.contct-form {
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;
    padding: 35px;
}

.contct-form .form-group {
    margin-bottom: 30px;
    position: relative;
}

.contct-form .form-group .form-control {
    border-radius: 0;
    border: 1px solid rgba(28,29,36,.5);
    height: 40px;
    box-shadow: none!important;
    font-size: 1.5rem;
    color: #1c1d24;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contct-form .form-group .form-control:not(:placeholder-shown)~.form-label {
    top: -10px;
    font-size: 9px;
    border-radius: 30px;
    border: 1px solid rgba(28,29,36,.5);
    left: 10px;
}

.contct-form .form-group .form-label {
    position: absolute;
    top: 9px;
    margin: 0;
    left: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    padding: 0 10px;
    pointer-events: none;
    transition: all .35s ease;
    background: #fff;
}

.contct-form .form-group textarea.form-control {
    height: inherit;
}

.px-btn {
    background: #dc965a;
    color: #fff;
    padding: 0 25px;
    line-height: 46px;
    display: inline-block;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    cursor: pointer!important;
}

.px-btn:hover {
    transition: all .35s ease;
    background: #1c1d24;
}

.contact-info{
    padding-left: 150px;
}
.contact-info .media .contact-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(220,150,90,.1);
    color: #dc965a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.contact-info .media .media-body {
    padding-left: 15px;
    color: #1c1d24;
}

.media-body {
    flex: 1 1;
    font-size: 1.6rem;
}

.contact-info .media+.media {
    margin-top: 20px;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.333;
}
.sm-title p {
    color: #5e6472;
    font-family: "Nunito",monospac;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* footer */
.footer {
    display: block;
    overflow: hidden;
    padding: 12px 0;
    background: #1c1d24;
}

.footer-left {
    text-align: left;
    justify-content: flex-start;
}

.footer-left a {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 17px;
    text-decoration: none;
    background-color: transparent;
}

.footer-left a:hover {
    color: #dc965a;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    color: #fff;
    font-size: 1.4rem;
}


.scroll_up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    color: #dc965a;
    text-decoration: none;
    width: 42px;
    height: 45px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    font-size: 2.6rem;
    cursor: pointer;
}

.scroll_up:hover {
    background: #dc965a;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.scroll_up a {
    font-weight: 800;
}
