* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
 html {
    font-size: 62.5%;
    line-height: 1.7;
    color: #5e6472;
}
.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    border-top: 1px solid #ffffff33;
    border-bottom: 1px solid #ffffff33;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    background: #fff;
    opacity: 0.9;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}
.home {
    color: #000;
    font-size: 3rem;
    line-height: 50px;
    text-decoration: none;
}
.nav-link {
    display: flex;
    list-style: none;
        
}

.nav-link li {
    border-right: 1px solid rgba(15,10,10,.1);
    border-left: 1px solid rgba(15,10,10,.1);
    padding: 0 30px;
}

.nav-link a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 70px;
}

.nav-link a:hover {
    color: #dc965a;
}
.header {
    background-image: url(ảnh/bg-2.jpg);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 600px;
}
.container {
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-bottom: 90px;
    text-align: center;
}

.container p {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #fff;
}

.container h1 {
    font-size: 8rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}

.container h2 {
    font-size: 3.8rem;
    color: #fff;
}

.scroll {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 5;
}

.scroll a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2rem;
    transition: .3s;
}

.scroll a:hover {
    color: #dc965a;
    letter-spacing: .3rem;
}

.icon {
    position: absolute;
    right: 40px;
    bottom: 30px;
    z-index: 5;
}

.icon a {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 35px;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    text-decoration: none;
}

.icon a:hover {
    background: #dc965a;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.about {
    padding: 100px 0;
    width: 100%;
    position: relative;
}

.about::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 40%;
    background: #dc965a;
    z-index: -1;
}

.img-box {
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background: #fff5ec;
    padding: 10px;
}

.img-box img {
    max-width: 100%;
}

.about-me {
    padding-left: 40px;
}

.about-me h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #1c1d24;
    margin-bottom: 15px;
}

.about-me h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1c1d24;
    margin-bottom: 20px;
}

.about-me h5 span {
    color: #dc965a;
}

.about-me p {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.about-list {
    padding: 10px 0 15px;
}

.about-me .media {
    padding: 10px 0;
    line-height: normal;
}

.media {
    display: flex !important;
    align-items: flex-start;
}

.btn-bar {
    position: relative;
}

label {
    display: inline-block;
}

.about-me .media label {
    margin: 0;
    color: #090a0c;
    font-weight: 700;
    font-size: 1.5rem;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
}

.about-me .media p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 1.5rem;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


.align-center {
    align-items: center;
}


.grid__column-50 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}



.btn {
    padding: 0 25px;
    line-height: 46px;
    display: inline-block;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    transition: all .35s ease;
    cursor: pointer;
}

.btn.btn-theme {
    background: #dc965a;
    color: #fff;
}

.btn.btn-theme:hover {
    background: #1c1d24;
}
/* services */
.services {
    padding: 100px 0;
    position: relative;
    background: #fff5ec;
}

.services-title {
    padding-bottom: 40px;
    text-align: center;
    justify-content: center;
}

.services-title h3 {
    font-size: 4.5rem;
    color: #1c1d24;
    position: relative;
    margin: 0 0 15px;
}

.services-title h3::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.services-title p {
    font-size: 1.7rem;
}

.feature-box {
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 15% 12%;
    position: relative;
    z-index: 1;
    margin: 12px 0;
}

.feature-box:hover {
    background: #dc965a;
}

.feature-box:hover i, .feature-box:hover h5, .feature-box:hover p {
    color: #fff;
}

.feature-box i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 5rem;
    margin-bottom: 20px;
    color: #dc965a;
    transition: .5s ease-in-out;
}

.feature-box h5 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.feature-box p {
    transition: .5s ease-in-out;
    font-size: 1.6rem;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33333333%;
}
