
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.7;
    color: #5e6472;
}
.nav {
    background-color: rgb(48, 42, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
}

.nav-list {
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
}

.nav-list li {
    border-right: 1px solid rgba(15,10,10,.1);
    border-left: 1px solid rgba(15,10,10,.1);
    padding: 0 30px;
}

.nav-list a {
    display: block;
    color: rgb(247, 243, 238);
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 70px;
}
.Home {
    background-color: rgb(65, 61, 58);
    width: 100%;
    height: 600px;
    display: grid;
}

.name {
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    line-height: 200px;
}
/* content */
.column1, .column2, .column3{
    width: 500px;
    height: 350px;
    background-color: #FFF5EC; 
    border: 1px solid rgb(82, 78, 74);
    margin-right: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.cv1,.cv2,.cv3{
    display: flex;
    justify-content: center;
    margin-top:40px;
    font-size: 16px;  
    box-shadow: 0 0 15px rgba(0,0,0,0.3);  
}
.content .img img{
    height: 230px ;
    width: 210px;
    
}
.container{
    height: 70rem;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;    
}
.content{
    display:flex;
    
}
.content img{
    margin-right: 20px;  
    border-radius: 9px;
    
}
.content button{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
}
.content button:hover{
    background-color: rgb(243, 115, 69)
}
.content img:hover{
    height: 250px ;
    width: 230px;
}
/* footer */
.footer{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f3136;
    color: rgb(211, 195, 195);
}
.address1{
   padding: 30px;
   font-size: 15px;
}
.address2{
   padding: 30px;
   font-size: 15px;
}
.address1 a{
    color: rgb(221, 207, 207);
    text-decoration: none;
}
.address1 a:hover{
    color: rgb(204, 90, 48);
}
.address-links a{
    color: rgb(201, 192, 216);
    font-size: 25px;
}
.address-links a:hover{
    color: rgb(204, 90, 48);
}
/* responsive */
@media only screen and (max-width: 740px) {
   
    /* content */
    .content{
        flex-direction: column;
        margin-top: 330px;
    }
    .column1, .column2, .column3{
        width: 480px;
        height: 330px;
        background-color: #FFF5EC; 
        margin-right: 10px;
        margin-top: 20px;

    }
    .column1{
        margin-top: 200px;
    }
    .content button{
        margin-top: 20px;
        margin-left: 200px;
    }
    /* footer */
    .footer{
        margin-top: 90%;
        height: 25%; 
       
    }
    .address1,.address2{
      padding: 17px;
      font-size: 14px;
      margin-bottom:20px;
   }
}

@media only screen and (min-width:740px ) and (max-width:1024px) {
    /* content */
    .content{
        flex-direction: column;
        margin-top: 420px;
    }
    .column1, .column2, .column3{
        width: 700px;
        height: 360px;
        background-color: #FFF5EC; 
        border-radius: 6px;
        margin-right: 10px;
        margin-bottom: 20px;
        
    }
    .column1{
        margin-top: 210px;
    }
    .content button{
        width: 100px;
        height: 35px;
        margin-top: 20px;
        margin-left: 250px;
    }
    .content .img img{
        height: 270px ;
        width: 270px;
    }
    .cv1,.cv2,.cv3{
        display: flex;
        justify-content: center;
        margin-top:20px;
        font-size: 18px;    
    }
     /* footer */
     .footer{
        margin-top: 70%;
        height: 25%; 
    }
    .address1,.address2{
      padding: 17px;
      font-size: 15px;
      margin-bottom:20px;
   }
}