body {
    position: relative;
    background-color: bisque;
    margin: 0;
}
h1 {
    padding: 7px 0px;
}
.btn {
    margin: 50px 20px 20px 20px;
    width: 100px;
    height: 35px;
    background-color: #dc965a;
    text-align: center;
}
table {
    margin: 50px 0px;
    width: 900px;
}

td {
    width: 12.5%;
    text-align: center;
    height: 20px;
}
i {
    font-size: 16px;
}
.icon a {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.icon a:hover {
    background: #dc965a;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.btn {
    background: #dc965a;
    color: white;
}

.btn:hover {
    background: black;
    color: #fff;
}

.df {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: none;
    font-size: 18px;
    line-height: 20px;
}

.none {
    display: none;
}
.block {
    display: block;
}
