body{
    position: relative;
    background-color: bisque;
    margin: 0;
}
table, tr, td{
    
    border: solid 0.5px black;
    border-collapse: collapse;
    
}
table{
    margin-top: 50px;
    width: 100vw;
    height: 25px;   
}
td {
    width: 12.5%;
    text-align: center;
}
i{
    font-size: 18px;
}
.icon a {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.icon a:hover {
    background: #dc965a;
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.btn {
    background: #dc965a;
    color: white;
}

.btn:hover {
    background: black;
} 

.df{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: none;
    font-size: 20px ;
    line-height: 20px;
}


.none{
    display: none;
}
.block{
    display: block;
}
