
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: rgb(214, 178, 178) */
}
.nav{
    height: 80px;
    margin-top: 30px;
    
}
.home h1{   
    margin-left: 200px;
}
.option{
    font-size: 20px;
}
.login a{
    text-decoration: none;
    color: #000
}
.register a{
    text-decoration: none;
   color: #000
}
.title h3{
    margin-top:100px;
    height: 80px;
    
}

/* content */
.card{
    margin-top:50px;
}
.column1, .column2, .column3{

    background-color: rgb(250, 232, 235); 
    border: 1px solid rgb(82, 78, 74);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin-top: 80px;
    /* margin-left: 100px; */
}

.cv1,.cv2,.cv3{
    display: flex;
    margin-top:40px;
    font-size: 17px;  
    box-shadow: 0 0 15px rgba(0,0,0,0.3);  
}
.content .img img{
    height: 240px ;
    width: 230px;
}
.content img{
    margin-right: 20px;  
    border-radius: 9px;
    
}
.content button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 10px;
    background-color:#c7dbd5;
    color:#000
}
.content button:hover{
    background-color: rgb(243, 115, 69)
}

/* footer */
.footer{
    /* height: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    /* background-color: #2f3136; */
    /* color: rgb(211, 195, 195); */
}
.school{
   padding: 30px;
   font-size: 17px;
}
.address{
    background-color: rgb(39, 34, 34);
    color: #fff;
}
.address1{
    padding: 30px;
    font-size: 17px;
 }
 .address1 span {
     margin-left: 200px;
 }
.address2{
   padding: 30px;
   font-size: 17px;
}
.school a{
    font-size:20px;
    text-decoration: none;
    margin-left: 250px;
}
.school a:hover{
    color: rgb(204, 90, 48);
}
.address-links{
    display: flex;
 
}
.address-links a{
    margin-left: 50px;
    font-size: 25px;
    text-decoration: none;
}
.address-links a:hover{
    color: rgb(204, 90, 48);
}
