* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#ser1 {
  width: 1476.1px;
  height: 950px;
  background-color: #fff5ec;
  text-align: center;
}
#ser1 h1 {
  color: black;
  font-size: 50px;
  margin-bottom: 7px;
}
#ser1 .line {
  width: 38px;
  height: 3.5px;
  background-color: #dc965a;
  margin: 0 auto 20px;
}
#ser1 p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-left: 30vh;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*  */
#ser1 .column-layout {
  display: flex;
  justify-content: space-around;
  padding: 0px 150px;
}
#ser1 .column-layout .item {
  width: 376px;
  height: 335px;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 50px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#ser1 .column-layout .item i {
  font-size: 50px;
  color: #dc965a;
  padding: 20px 0;
}
#ser1 .column-layout .item p {
  font-size: 18px;
  line-height: 20px;
}
#ser1 .column-layout .item:hover {
  background: #dc965a;
  color: #fff;
}
#ser1 .column-layout .item:hover i {
  color: #fff;
}
/*  */
#ser2 {
  margin-top: 20px;
  width: 1476.1px;
  height: 700px;
  background-color: white;
}

#ser2 .line {
  width: 25px;
  height: 3px;
  background-color: #dc965a;
  margin: 0px;
}
#ser2 {
  display: flex;
  justify-content: center;
}
#ser2 .col {
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 50px 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
#ser2 .col h3 {
  font-size: 27px;
  margin: 10px 0px;
}
#ser2 .col .box {
  width: 375px;
  height: 423.2px;
  background-color: #dc965a;
  margin: 30px 0;
  color: #fff;
  padding: 0 20px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#ser2 span {
  font-size: 14px;
  padding: 2px 15px;
  line-height: 12px;
  background-color: black;
  border-radius: 50px;
}
#ser2 ul,
li {
  list-style: none;
}
#ser2 ul {
  padding: 20px 0;
  border-bottom: dotted 1px white;
}
#ser2 h5 {
  padding: 10px 0px;
  font-size: 18px;
  line-height: 21px;
}
#ser2 p {
  font-size: 16px;
  line-height: 27px;
}
/*  */
#ser2 .skill {
  padding-top: 10px;
}
#ser2 .skill h6 {
  font-size: 1.2rem;
  margin: 0 0 8px;
  color: #1c1d24;
  line-height: 28px;
}

 .skill-bar {
  position: relative;
  background: #1c1d24;
}

.skill-bar-in {
  width: 80px;
  height: 10px;
  position: relative;
  transition: all 0.55s ease;
}

 .skill-bar-in span {
  position: absolute;
  right: 0;
  bottom: 15px;
  background: #1c1d24;
  padding: 2px 6px;
  color: #fff;
}

.skill-bar-in span:after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  border-left: 7px solid transparent;
  border-top: 8px solid #1c1d24;
}

#ser2 .skill:not(:first-child) {
  margin-top: 25px;
}

/*  */
#portfolio {
  background-color: #fff5ec;
  width: 1476.1px;
  height: 1700px;
}
.por1 h1 {
  text-align: center;
  font-size: 45px;
  padding: 15px 0;
}
 .por1 .line {
  width: 38px;
  height: 3.5px;
  background-color: #dc965a;
  margin: 0 auto 20px;
}
.por1 p {
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  padding-bottom: 25px;
}
/*  */
#portfolio .por2 {
  width: 1476.1px;
  height: 1300px;
}
.por2-layout {
  display: flex;
  justify-content: space-around;
  padding: 10px 150px;
}
 .box-img {
  background-color: white;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 400px;
  height: 580px;
  color: black;
  padding: 0 15px;
  margin: 0px 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.box-img img {
  width: 350px;
  height: 490px;
  padding: 20px 10px;
}
.box-img h2 {
  font-size: 20px;
  line-height: 24px;
  padding: 20px 10px;
}
.box-img span {
  padding: 0px 10px;
}
.box-img:hover h2 {
  color: #dc965a;
}
.box-img:hover img {
  transform: scale(0.8, 0.8);
}
/*  */
.por3 {
  height: 450px;
  width: 1476.1px;
  background-color: #fff;
}
.por3 .avatar {
  display: flex;
  padding: 100px 150px;
}
.avt {
  display: flex;
  width: 600px;
  height: 130px;
  padding: 0 20px;
}
.avt-img {
  width: 140px;
  height: 150px;
  padding: 0px 10px;
  border: #dc965a 2px solid;
}
.avt .avt-img img {
  width: 140px;
  height: 170px;
  padding: 10px 0;
}
.avt-intro {
  padding: 0 25px;
}
.avt-intro p {
  font-size: 16px;
  line-height: 27px;
}
.avt-intro h6 {
  font-size: 15px;
  line-height: 28px;
  padding: 6px 0;
}

.avt-intro span {
  font-size: 8px;
  line-height: 10px;
}
.avt-intro i {
  color: #ffc800;
  font-size: 9px;
  padding: 0 3px;
  /* border-radius: 20%; */
}
.avt-intro .value {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 45px;
  height: 20px;
}
